.hero{
    background-color: #fdeaef;
    display: flex;
    box-sizing: border-box;
    height: 600px
   

}
.hero-left{
    float: left;
    box-sizing: border-box;
    padding-top: 175px;
    margin: 0px 0px 0px 125px;

    
}

.hero-left h1{
width: 130%;
font-size: 48px;
margin:0px
}
.hand-icon{
    display: flex;

}
.hand-icon h1{
    margin: 0px;
    width: 20%;
    padding-top:10px;
    font-size: 48px;
    

    
}
.hand-icon img{
float:right;
width: 20%;
height: 20%;
margin: 10px 0px 0px 50px;
}

.hero-right {
    float: right;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 50%;
}

.hero-right img {
    width: auto;
    height: 90%;
    margin: 63px 0px 0px 400px;
}